@use "../Variables/variables" as *;

/*-----------------------------------*\
  #START CONTACT
\*-----------------------------------*/
.contact {
  padding-top: $section-padding;
  padding-bottom: $section-padding;
  background-color:$secondary-color;
  .contact-content {
    margin-top: 8rem;
    text-align: center;

    p {
      font: {
        size: 3.5rem;
        weight: 900;
      }
      letter-spacing: -0.3rem;
      color: $thirdly-color;
    }

    a {
      display: block;
      font: {
        size: 3.5rem;
        weight: 900;
      }
      margin: {
        top:2rem;
        bottom:2rem;
      }
      color:$main-color;
      letter-spacing: -0.1rem;
    }

    .social-media {
      color:$thirdly-color;
    }

    @media (max-width:767px) {
      a,p {
        font-size:2.5rem;
      }
    }
  }
}
/*-----------------------------------*\
  #END CONTACT
\*-----------------------------------*/
