@use "../Variables/variables" as *;

/*-----------------------------------*\
  #START Features
\*-----------------------------------*/

  .features {
    padding-top:$section-padding ;
    padding-bottom:$section-padding ;
    background-color: $secondary-color;

    .container {
      display:grid;
      grid-template-columns: repeat(auto-fill,minmax(30rem,1fr));
      gap:2rem;
      text-align:center;
    }

    .col {
      padding:2rem;
      i {
        color:$main-color;
      }

      h2 {
        margin:2rem 0 ;
        font-weight:800;
      }

      p {
        line-height:1.8;
        font-size: 1.7rem;
        color:#777;
      }

    }
  }




/*-----------------------------------*\
  #END Features
\*-----------------------------------*/