@use "../Variables/variables" as *;

/*-----------------------------------*\
  #START FOOTER
\*-----------------------------------*/

.footer {
  color:white;
  background-color: $thirdly-color;
  text-align: center;
  padding:2rem 1rem;
  font-size:1.8rem;
  
  span {
    font-weight:bold;
    color:$main-color;
  }
}

/*-----------------------------------*\
  #END FOOTER
\*-----------------------------------*/