/* Start Global Rules */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Work Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

/* Small Screen */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium Screen */
@media (min-width: 992px) {
  .container {
    width: 985px;
  }
}

/* Large Screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
} 


.special-heading {
  text-align:center;
  font : {
    size:10rem;
    weight:800;
  }
  letter-spacing: -.3rem;
  color:#ebeced;
  margin:0;
}

.special-heading + p {
  text-align:center;
  font-size:2rem;
  color:#797979;
  margin:-3rem 0 0;
}

@media (max-width:767px) {
  .special-heading {
    font-size:6rem;
  }

  .special-heading + p {
    margin:-2rem 0 0;
  }
}

/* End Global Rules */
