@use "../Variables/variables" as *;

/*-----------------------------------*\
  #START SERVICES
\*-----------------------------------*/

.services {
  padding-top: $section-padding;
  padding-bottom: $section-padding;

  .services-content {
    margin-top: 8rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 3rem;
  }

  .col {
    .srv {
      display: flex;
      margin-bottom: 4rem;

      i {
        color: $main-color;
        flex-basis: 6rem;
      }

      .text {
        flex:1;
        h3 {
          margin: 0 0 2rem;
        }

        p {
          font-weight:300;
          color:#444;
          line-height:1.6;
        }
      }

      @media (max-width:767px) {
        & {
          flex-direction: column;
          text-align:center;
        }
      }
    }

    .image-column {
      @media (max-width: 1199px) {
        & {
          display:none;
        }
      }
        text-align:center;
        position:relative;

        &::before {
          content:"";
          position: absolute;
          width:10rem;
          height:calc(100% + 10rem);
          background-color: $thirdly-color;
          top:-5rem;
          right:0;
          z-index:-1;
        }

        img {
          width:26rem;
        }
      }
    }
  }

/*-----------------------------------*\
  #END SERVICES
\*-----------------------------------*/
